@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<!-- Add these links to your HTML file -->



<h1>Instructor List</h1>
<center><a class="btn btn-primary" asp-action="AddInstructor">Add Instructor</a></center>
<br/>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Rank</th>
        <th>HiringDate</th>
        <th>Phone</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    @foreach (var Instructor in Model)
    {
        <tr>
            <td>@Instructor.Id</td>
            <td>@Instructor.FirstName @Instructor.LastName</td>
            <td>@(Instructor.IsTenured ? "Permanent" : "Probationary")</td>
            <td>@Instructor.Rank</td>
            <td>@Instructor.HiringDate</td>
            <td>@Instructor.Phone</td>
            <td>
                <center><a class="btn btn-primary" asp-action="ShowDetails" asp-route-id="@Instructor.Id">Show Details</a></center>
            </td>
            <td>
                <center><a class="btn btn-primary" asp-action="EditInstructor" asp-route-id="@Instructor.Id">Edit</a></center>
            </td>
            <td>
                <center><a class="btn btn-danger" asp-action="DeleteInstructor" asp-route-id="@Instructor.Id">Delete</a></center>
            </td>
        </tr>
    }
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>


                <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>